.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: 2rem;
}
.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logoContainer h1 {
  font-size: 2rem;
}

.mobileMenu {
  display: none;
}
.mobileHamburger {
  display: none;
}

.item {
  font-size: 1.2rem;
}

@media screen and (max-width: 950px) {
  .mobileMenu {
    display: flex;
  }
  .mobileHamburger {
    display: flex;
  }
  .menuContainer {
    display: none;
  }
  .logoContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .mobileHamburger svg {
    width: 2rem;
    height: 2rem;
  }
  .mobileMenu {
    padding-inline: 2rem;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .close {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close svg {
    width: 2rem;
    height: 2rem;
  }
  .mobileItems {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 3rem;
  }
  .item {
    font-size: 2rem;
    font-weight: 500;
  }
  .logo {
    font-size: 2rem;
  }
}
